<style>
    @media only screen and (max-width: 600px) {
        .portlet.light {
            padding: 6px 10px 6px !important;
        }
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="fa fa-list font-green"></i>
                    <span class="caption-subject bold uppercase">Entries</span>
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table name="entry_table" class="table table-striped table-bordered table-hover dt-responsive"
                    width="100%" /*id="sample_2" * />
                <thead>
                    <tr>
                        <th class="all">Dated</th>
                        <th class="none">Head</th>
                        <th class="none">SubHead</th>
                        <th class="all">Account SubHead</th>
                        <th class="all">Type</th>
                        <th class="all">Amount</th>
                        <th class="none">Description</th>
                        <th class="none">Created On</th>
                        <th class="none">Modified On</th>
                        <th class="all">Actions</th>
                    </tr>
                </thead>
                <tbody name='entry_table_body'>
                </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<div class="modal fade" id="delete_confirm" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title font-red-mint">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are You Sure you want to delete this entry?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" name="delete_confirmed">Delete</a>
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function get_entries() {
        var entries = null
        $.ajax({
            url: '/general_journal/api/entry_get',
            type: 'GET',
            async: false,
            success: function (data) {
                entries = data
            }
        })
        return entries
    }
    function init_table() {
        if ($.fn.dataTable.isDataTable('[name=entry_table]')) {
            table = $('[name=entry_table]').DataTable();
        }
        else {
            table = $('[name=entry_table]').DataTable({
                "fnCreatedRow": function (nRow, aData, iDataIndex) {
                    $('td:eq(9)', nRow).append('<div style="white-space:nowrap">\
                        <a href="#create_receipt" data-toggle="collapse" name="edit_table_entry">Edit</a> \
                        <a style="color:red; margin-left:10px;" name="delete_table_entry">Delete</a>\
                        </div>');

                },
            });
        }
        table.rows().remove()
    }
    function set_table_data() {

        init_table()
        var entries = get_entries()
        entries.forEach(function (entry, i) {
            var entry_id = entry['id']
            var dated = entry['dated']
            var head = entry['head']['title']
            var subhead = entry['subhead']['title']
            var account_subhead = entry['account_subhead']['title']
            var entry_type = entry['entry_type']
            var amount = entry['amount']
            var description = entry['description']
            var created_on = new Date(entry['created_on']).toDateString()
            var modified_on = new Date(entry['modified_on']).toDateString()

            var row = table.row.add([dated, head, subhead, account_subhead, entry_type, amount, description, created_on, modified_on, ' ']).draw().node()
            $(row).attr('id', entry_id)
        })
        table.draw()
    }
    function delete_entry(id) {
        $.ajax({
            url: 'general_journal/api/entry_post/' + id.toString(),
            type: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            success: function () {
                $('#delete_confirm').modal('hide')
                set_table_data()
            },
        })
    }
    $(document).ready(function () {

        set_table_data()

        $(document).on('click', 'a[name=delete_table_entry]', function () {
            var id = $($(this).parents('tr')[0]).attr('id')
            $('[name=delete_confirmed]').attr('id', id)
            $('#delete_confirm').modal('show')
        })

        $('[name=delete_confirmed]').click(function () {
            id = $(this).attr('id')
            delete_entry(id)
        })

        $(document).on('click', 'a[name=edit_table_entry]', function () {
            var id = $($(this).parents('tr')[0]).attr('id')
            set_form_data(id)
            

        })
    })
</script>