{% extends 'layout.html' %}
{% block body %}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">Entries</a>
            <i class="fa fa-circle"></i>
        </li>
        <!-- <li>
            <a href="#">Blank Page</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Page Layouts</span>
        </li> -->
    </ul>

</div>


<div class="container">
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title"> General Journal
        <small>record all entries</small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <!--BEGIN CREATE RECEIPT-->
    {% include 'create_receipt.html' %}
    <!--END CREATE RECEIPT-->
    <!--BEGIN ENTRIES TABLE-->
    {% include 'entries_table.html' %}
    <!--END ENTRIES TABLE-->

</div>

{% endblock body%}